torch
transformers
pandas
scikit-learn
pytest
pydantic
gradio
fastapi
uvicorn
requests
jinja2 
markupsafe 
urllib3
langchain-core
langchain-community
sentence-transformers
langchain-huggingface
langchain-chroma
chromadb
pypdf
openai
langchain-openai
